[submodule "match_charting"]
	path = match_charting
	url = https://github.com/JeffSackmann/tennis_MatchChartingProject.git
[submodule "tennis_wta"]
	path = tennis_wta
	url = https://github.com/JeffSackmann/tennis_wta.git
[submodule "tennis_atp"]
	path = tennis_atp
	url = https://github.com/JeffSackmann/tennis_atp.git
